ABOUT-NLS
ChangeLog
NEWS
INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
configure~
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4

**/Makefile
**/Makefile.in

**/.deps/
**/.libs/
**/*.gmo
**/*.la
**/*_la*
**/*.o
**/Makevars.template
**/POTFILES
**/Rules-quot
**/boldquot.sed
**/en@boldquot.header
**/en@quot.header
**/insert-header.sin
**/quot.sed
**/remove-potcdate.sin
**/stamp-po

packaging/

src/fedsafe

man/fedsafe.1
man/fedsafe.box.1
man/fedsafe.sboxed.1
man/fedsafe.sboxed.1
man/fedsafe.setup.1
